$warning: rgb(195, 247, 128);
.btn-outline-warning {
    color:black !important;
}
.fa-hand-point-left{
    padding-right: 10px;
}
table:not(.show) td,table.table-striped:not(.show) th{
    text-align: center;
}
table.table-striped th.add, table.table-striped td.controls{
    text-align:right;
}
@media only screen and (max-width: 768px) {

    table.table-striped:not(.show) td{
        display:block;
        text-align: right;
    }
    table.table-striped.show td:nth-of-type(even){
        text-align:right;
    }
    table.table-striped:not(.show) td:first-of-type:not(.notRowLabel){
        text-align:center;
    }
    td:first-of-type:not(.notRowLabel):before{
        display:none;
    }
    td[data-th]:before  {
        float: left;
        content: attr(data-th);
    }
    table.table-striped:not(.show) > tbody > tr:not(:last-of-type) > td:last-of-type{
        border-bottom: 2px solid black;
    }
    td.controls{
        padding: 30px 0;        
    }
    th{
        display:none;
    }
    .card-footer .btn{
        margin:20px 0;
    }
}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
